:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px;
    width: 100%;
    max-width: 500px;
}

.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}