<footer>
    <mat-list>
        <div>
            <span>Kabanyok Artyom © | all rights reserved</span>
        </div>
        <mat-divider></mat-divider>
        <div>
            <a mat-icon-button href="{{githubUrl}}">
                <mat-icon svgIcon="github"></mat-icon>
            </a>
            <a mat-icon-button href="{{linkedinUrl}}">
                <mat-icon svgIcon="linkedin"></mat-icon>
            </a>
            <a mat-icon-button href="mailto: {{email}}">
                <mat-icon svgIcon="email"></mat-icon>
            </a>
            <a mat-icon-button href="{{skype}}">
                <mat-icon svgIcon="skype"></mat-icon>
            </a>
        </div>
    </mat-list>
</footer>
