<mat-toolbar>
    <div class="container">
        <ng-container *ngIf="isSmall | async; else menuButtonsToggle">
                <div class="logo">
                    <a routerLink="">
                       Artyom Kabanyok
                    </a>
                </div>
            <div class="buttons">
                <button mat-button routerLink="/about">About</button>
                <button mat-button routerLink="/projects">Projects</button>
                <button mat-button routerLink="/skills">Skills</button>
                <button mat-button routerLink="/education">Education</button>
                <button mat-button routerLink="/contacts">Contacts</button>
                <a mat-button href="https://docs.google.com/document/d/170n3NCUs-Y5CYd8ptyAXdL_FtDFw2vAyx1RZgV7iCB4/edit?usp=sharing">Resume</a>
            </div>
        </ng-container>
        <div class="last-block"></div>
    </div>
</mat-toolbar>

<ng-template #menuButtonsToggle>
    <button mat-icon-button (click)="toggle.emit(undefined)">
        <mat-icon>menu</mat-icon>
    </button>
</ng-template>