<mat-toolbar>
    <div class="container">
        <ng-container *ngIf="isSmall | async; else menuButtonsToggle">
            <div class="logo">
                <a routerLink="">
                    Artyom Kabanyok
                </a>
            </div>
            <div class="buttons">
                <button mat-button routerLink="/about">About</button>
                <button mat-button routerLink="/projects">Projects</button>
                <button mat-button routerLink="/skills">Skills</button>
                <button mat-button routerLink="/education">Education</button>
                <button mat-button routerLink="/contacts">Contacts</button>
                <a mat-button href="{{RESUME_URL}}">Resume<mat-icon svgIcon="external"></mat-icon>
                </a>
            </div>
        </ng-container>
        <div class="last-block"></div>
    </div>
</mat-toolbar>

<ng-template #menuButtonsToggle>
    <button mat-icon-button (click)="toggle.emit(undefined)">
        <mat-icon>menu</mat-icon>
    </button>
</ng-template>